body {
  padding: 30px;
  overflow: scroll;
}

.wrapper {
  display: flex;
  gap: 30px;
}

img {
  height: 100%;
  width: auto;
}

.container {
  border: 2px solid #0050ff;
  border-radius: 30px;
  padding: 40px;
  margin-bottom: 50px;
  position: relative;
  background: white;
}

.task {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 5px;
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  background: #0050ff;
  border: 2px solid black;
}

h2 {
  font-size: 35px;
  color: #0050ff;
  margin: 35px 0;
  font-weight: 700;
}

p {
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
}
/* ------------- */
.task1:hover {
  transform: rotate(270deg);
  transition: transform 1s ease-in;
}
/* 22222222222222222 */
.task2 {
  transition: transform 1s linear;
}

.task2:hover {
  transform: rotateX(135deg);
}
/* 33333333333 */

.task3 {
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1)
    ease-in-out;
}

.task3:hover {
  transform: rotateY(45deg);
}
/* 444444444444444 */
.task4 {
  transition: transform 1s linear;
}

.task4:hover {
  transform: scale(1.3);
}
/* 555555555555 */
.task5 {
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.task5:hover {
  transform: scaleX(1.5);
}
/* 666666666666 */
.task6 {
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.task6:hover {
  transform: scaleY(0.5);
}
/* 777777777777 */
.task7 {
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.task7:hover {
  transform: skewX(30deg);
}
/* 8888888888 */
.task8 {
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1)
    ease-out;
}

.task8:hover {
  transform: skewX(25deg);
}
/* 999999999999999999 */
.task9 {
  transition: transform 1s ease-in;
}

.task9:hover {
  transform: skewY(20deg);
}
/* 10----------- */
.task10 {
  transition: transform 1s ease-in;
}

.task10:hover {
  transform: translate(60px, 40px);
}
/* 11 11 11 */
.task11 {
  transition: transform 1s ease-out;
}

.task11:hover {
  transform: translateX(50px);
}
/* 12 12 12 */
.task12 {
  transition: transform 1s linear;
}

.task12:hover {
  transform: translateY(30px);
}
/* 13 13 */
.task13 {
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.task13:hover {
  transform: translate3d(20px, 20px, 20px)
    rotate3d(2, 2, 2, 90deg);
}
/* 14 14 14 */
.task14 {
  transition: transform 1s ease-in-out;
}

.task14:hover {
  transform: translate3d(30px, 30px, 30px)
    rotate3d(2, 3, 3, 45deg);
}

/* 15 15 15 */
.task15 {
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.task15:hover {
  transform: matrix(0.4, 1.1, 1.1, 0.4, 1, 1);
}
/* 16*/
.task16 {
  transition: transform 1s linear;
  cursor: pointer;
}

.task16:hover {
  transform: matrix3d(
    0.5,
    0,
    -0.866025,
    0,
    0.595877,
    1.2,
    -1.03209,
    0,
    0.866025,
    0,
    0.5,
    0,
    25.9808,
    0,
    15,
    1
  );
}
